
a, button, input, label {
  cursor: pointer
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* CSS */

/* Mobile */
@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }
}

/* Font face */

@font-face {
  font-family: 'lelo_light';
  src: url("../font/lelo_light.ttf") format("truetype");
}


/* CSS variables */
:root {
  --color-bg: ;
  --color-primary: ;
  --color-light:
  --first-size: ;
  --second-size: ;
}

/* CSS */

body {
  height: auto;
  font-family: 'lelo_light';
}

#container {
width: 40vw;
}

#main-wrapper {
  margin: 2em;
}

#navi {
  width: 50vw;
  height: 10vw;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#head {
  width: 20vw;
  height: 20vw;
  margin: 1em;
}


#inhalt{
  width: 50vw;
  margin: 1em;
}

#außer {
  width: 620px;
  height: 620px;
  display: grid;
  grid-template-columns: repeat(1, 10fr);
  margin-left: 1em;
}

div {
  border: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text {
  font-size: 12px;
  font-family: 'lelo_light';
  line-height: 2;
  color: inherit;
}


.nav_text {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  font-family: 'lelo_light';
}

.nav_text:hover {
  width: 8vw;
  height: 2vw;
  background-color: #e6e6e6;
}

.a {
  padding: 5px;
}


.title {
  width: 80vw;
  font-size: 12px;
}

.images {
  width: 100px;
  height: 200px;
}

.img_hoch {
  width: 30vw;
  height: 40vw;
  object-fit: cover;
}

.img_breit {
  width: 40vw;
  height: 33vw;
  object-fit: cover;
}

.img_car {
  width: 20vw;
  height: 10vw;
  padding: 1em;
  object-fit: cover;
  margin-bottom: 2em;
}

.text_foot {
  color: black;
  font-size: 7px;
  margin-left: 2em;
  margin-bottom: 5vw;
}

.zahl {
  font-size: 12px;
  font-family: 'lelo_light';
  line-height: 2;
  color: black;
  margin-bottom: 1em;
}
